@charset "UTF-8";
/* Media Screen Size
======================================*/
/* 1 -MAIN CONTAINER(Large)
======================================*/
@media only screen and (min-width: 1160px) {
  .grid-list:after {
    content: '';
    display: table;
    clear: both; }

  .grid-list li {
    float: left;
    width: 500px;
    margin-top: 5px;
    margin-left: 5px; }

  .grid-list li:nth-child(2n) {
    margin-left: 0; } }
/* 2-1 -NEW POST CONTENT(Large)
======================================*/
/* 2-2 -NEW POST CONTENT(Small)
======================================*/
@media only screen and (max-width: 640px) {
  #container {
    border-radius: 0 !important; }

  .grid-list {
    margin-right: 0px; }

  .grid-list:after {
    content: '';
    display: table;
    clear: both; }

  .grid-list li {
    position: relative;
    float: left;
    width: 50%; }
    .grid-list li img {
      width: 100%; }
    .grid-list li .item {
      position: absolute;
      color: white;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      margin: 0;
      padding: 0; }
      .grid-list li .item .class_title {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 1.2em; }
      .grid-list li .item .action .group-button a {
        border: none;
        display: inline-block;
        width: 100%;
        text-align: center; }

  .grid-list li:nth-child(2n) {
    margin-left: 0; }

  .pagination {
    display: none; } }
/* 3-1 -PRODUCT LINE UP(Large)
======================================*/
/* 3-2 -PRODUCT LINE UP(Small)
======================================*/
/* Media Screen Size
======================================*/
/* 1 Header Contents(Small)
======================================*/
@media only screen and (max-width: 640px) {
  body {
    font-family: "Open Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif; }

  #header {
    background: none;
    margin-bottom: 0;
    padding: 0; }

  #footer-widget-area {
    background-color: #3E3B3B; }
    #footer-widget-area .widgettitle {
      padding: 0 !important;
      margin: 0; }
    #footer-widget-area .bp-login-widget-user-avatar {
      height: 30px; }
      #footer-widget-area .bp-login-widget-user-avatar a img {
        position: relative;
        top: 11px;
        left: 5%;
        border: none;
        border-radius: 50px;
        float: left; }
      #footer-widget-area .bp-login-widget-user-avatar a #header-count {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        color: white;
        background: #EA7A7A;
        border-radius: 1em;
        text-align: center;
        position: relative;
        top: 10px; }
    #footer-widget-area #groups-list .result {
      margin-left: 0px;
      margin-right: 50px; }
      #footer-widget-area #groups-list .result li .search-lists {
        display: block;
        text-decoration: none;
        height: 48px; }
        #footer-widget-area #groups-list .result li .search-lists p {
          text-decoration: none;
          color: white; }
          #footer-widget-area #groups-list .result li .search-lists p span {
            text-decoration: none;
            padding-left: 5px; }
    #footer-widget-area .bp-login-widget-user-links {
      display: none; }
    #footer-widget-area .group_create_button {
      position: relative;
      top: 25px;
      right: 6px;
      width: 22%;
      border-radius: 25px;
      background-color: #19A70C; }
      #footer-widget-area .group_create_button a {
        position: relative;
        top: 5px;
        left: 14%;
        display: block;
        height: 30px;
        color: white;
        text-decoration: none;
        font-weight: normal; }
        #footer-widget-area .group_create_button a #create_group_span {
          text-align: center;
          font-size: 9px; }
    #footer-widget-area .group-search-link {
      position: relative;
      height: 40px;
      top: -9px;
      right: -7%;
      display: inline-block;
      text-decoration: none;
      font-weight: normal;
      font-size: 100%;
      background-color: #19A70C;
      width: 52%;
      border-radius: 25px;
      height: 30px;
      color: white;
      text-align: center;
      line-height: 29px;
      margin-bottom: 10px; }

  #footer-widget-area .item-list {
    position: relative;
    left: 7%;
    top: -9px;
    display: inline; }
    #footer-widget-area .item-list #search_sample_button {
      position: relative;
      top: -3px;
      height: 30px;
      width: 50%; }
    #footer-widget-area .item-list #search_sample_button:before {
      content: '';
      background-image: url("../images/logo1.png");
      position: absolute;
      top: 4px;
      right: 4px;
      background-size: 8px 9px; }

  .group_create_button {
    float: right;
    margin-top: -3px; }
    .group_create_button #groups-directory-form {
      height: 25px; } }
/* Media Screen Size
======================================*/
/* 1 Header Contents(Small)
======================================*/
@media only screen and (max-width: 640px) {
  .padder {
    padding: 0; }

  .group_header_wrap {
    height: 110px;
    margin-top: -5px;
    background-color: #415d84;
    color: white; }
    .group_header_wrap #group_title {
      text-align: center;
      padding-top: 15px; }
      .group_header_wrap #group_title h3 {
        font-size: 20px;
        margin-bottom: 5px;
        font-weight: normal; }
    .group_header_wrap .group_infomation {
      margin-top: 5px;
      text-align: center; }
      .group_header_wrap .group_infomation #group_item-meta {
        display: inline-block;
        margin: 0 auto; }
        .group_header_wrap .group_infomation #group_item-meta p {
          float: left;
          margin-bottom: 0; }
      .group_header_wrap .group_infomation #group_item-button .group-button {
        clear: both;
        float: none;
        margin: 7px 0; }
        .group_header_wrap .group_infomation #group_item-button .group-button a {
          position: relative;
          top: 5px;
          left: 3px; }

  #item-body {
    /* Group-Activity-Contents(Small)
    ======================================*/
    /* No Parent Class%ID(Small)
    ======================================*/ }
    #item-body .bpfb_form_container #whats-new-form {
      padding: 0;
      border: none; }
    #item-body .bpfb_form_container .form-explain {
      text-align: center; }
      #item-body .bpfb_form_container .form-explain h4 {
        font-size: 20px;
        font-weight: normal; }
    #item-body .bpfb_form_container #whats-new-content {
      margin: 0px;
      padding: 0px;
      text-align: center; }
      #item-body .bpfb_form_container #whats-new-content #whats-new-textarea .date-pick-form {
        margin-bottom: 20px; }
        #item-body .bpfb_form_container #whats-new-content #whats-new-textarea .date-pick-form .description {
          margin-bottom: 0; }
        #item-body .bpfb_form_container #whats-new-content #whats-new-textarea .date-pick-form .ui-datepicker-trigger {
          position: relative;
          width: 60px;
          top: 5px;
          left: 2px; }
      #item-body .bpfb_form_container #whats-new-content .bpfb_actions_container {
        text-align: center;
        padding-left: 24%; }
        #item-body .bpfb_form_container #whats-new-content .bpfb_actions_container a {
          width: 70%; }
    #item-body .single-group {
      margin-top: 30px; }
      #item-body .single-group #activity-stream {
        margin: 0; }
        #item-body .single-group #activity-stream .activity-header {
          clear: both;
          text-align: center;
          padding: 10px 0 6px 0;
          margin: 0;
          margin-top: 30px;
          border-bottom: solid 1px #444;
          color: #444;
          font-size: 20px;
          font-weight: normal; }
        #item-body .single-group #activity-stream .activity-header-date {
          clear: both;
          text-align: center;
          padding: 10px 0 6px 0;
          margin: 0;
          margin-top: 30px;
          border-bottom: solid 1px #444;
          color: #444;
          font-size: 16px;
          font-weight: normal; }
        #item-body .single-group #activity-stream .horizontal-scroll #activity-content-wrap {
          padding: 1px 0 5px 0;
          overflow-x: scroll;
          overflow-y: auto;
          -webkit-overflow-scrolling: touch; }
          #item-body .single-group #activity-stream .horizontal-scroll #activity-content-wrap .bpfb_images {
            height: 100%; }
            #item-body .single-group #activity-stream .horizontal-scroll #activity-content-wrap .bpfb_images .thickbox {
              float: left;
              width: 200px;
              padding: 10px;
              margin: 0 10px;
              background: #fff;
              box-shadow: 0 0 10px 1px #e0e0e0; }
              #item-body .single-group #activity-stream .horizontal-scroll #activity-content-wrap .bpfb_images .thickbox img {
                height: 200px;
                width: 200px; }
    #item-body #bpfb_cancel_action {
      text-align: center; }
    #item-body .group_infomation {
      margin-bottom: 20px; }
    #item-body .qq-upload-button {
      margin: 0;
      width: 70%; }
    #item-body #group-end-space {
      background-color: #444;
      height: 20px;
      margin-top: 30px; }

  /* No display contents(Small)
  ======================================*/
  #whats-new-submit {
    display: none; }

  #bpfb_addVideos {
    display: none; }

  #bpfb_addLinks {
    display: none; }

  #bpfb_add_remote_image {
    display: none; }

  #datepicker {
    display: none; }

  #TB_window {
    margin-left: -47% !important;
    margin-top: -80% !important;
    width: 95% !important; }

  #TB_Image {
    width: 86% !important;
    height: 86% !important;
    margin: 15px 0 15px 21px !important; }

  #TB_caption {
    display: none; }

  #TB_closeWindow {
    display: none; }

  .screen-reader-text {
    display: none; } }
/* Media Screen Size
======================================*/
/* 1 Header Contents(Small)
======================================*/
@media only screen and (max-width: 640px) {
  #content .padder_profile {
    padding: 0; }
    #content .padder_profile #item-body #subnav {
      padding: 0 20px; }
    #content .padder_profile #item-body .notifications tbody {
      margin: 0 20px; }
    #content .padder_profile #item-header {
      margin-top: 10px;
      margin-bottom: 15px; }
      #content .padder_profile #item-header #item-header-avatar a .avatar {
        float: none;
        display: block;
        margin: 0 auto;
        border-radius: 100px;
        width: 100px;
        height: 100px;
        border: 0px; }
      #content .padder_profile #item-header #item-header-content {
        margin: 10px 0 0 0; }
        #content .padder_profile #item-header #item-header-content h2 {
          text-align: center;
          font-size: 20px;
          margin-bottom: 3px; }
        #content .padder_profile #item-header #item-header-content .user-nicename {
          text-align: center;
          font-size: 18px;
          font-weight: bold;
          color: #777; }
    #content .padder_profile #item-nav .item-list-tabs ul #notifications-personal-li {
      margin-bottom: 5px; }
      #content .padder_profile #item-nav .item-list-tabs ul #notifications-personal-li a {
        font-weight: normal;
        text-align: center;
        font-size: 20px;
        color: #088A08;
        background-color: #088A08; }
        #content .padder_profile #item-nav .item-list-tabs ul #notifications-personal-li a .count {
          display: block;
          position: relative;
          top: -20px;
          background: none;
          font-size: 20px;
          color: white; }
        #content .padder_profile #item-nav .item-list-tabs ul #notifications-personal-li a .no-count {
          display: block;
          position: relative;
          top: -20px;
          background: none;
          font-size: 20px;
          color: white; }
    #content .padder_profile #item-nav .item-list-tabs ul #groups-personal-li {
      display: none;
      margin-bottom: 5px; }
      #content .padder_profile #item-nav .item-list-tabs ul #groups-personal-li a {
        text-align: center;
        font-size: 20px;
        color: white;
        background-color: #1fb3dd;
        color: #1fb3dd; }
        #content .padder_profile #item-nav .item-list-tabs ul #groups-personal-li a .count {
          display: block;
          position: relative;
          top: -20px;
          background: none;
          font-size: 20px;
          color: white; }
        #content .padder_profile #item-nav .item-list-tabs ul #groups-personal-li a .no-count {
          display: block;
          position: relative;
          top: -20px;
          background: none;
          font-size: 20px;
          color: white; }
    #content .padder_profile #item-nav .item-list-tabs ul #activity-personal-li {
      display: none; }
    #content .padder_profile #item-nav .item-list-tabs ul #xprofile-personal-li {
      display: none; }
    #content .padder_profile #item-nav .item-list-tabs ul #messages-personal-li {
      display: none; }
    #content .padder_profile #item-nav .item-list-tabs ul #friends-personal-li {
      display: none; }
    #content .padder_profile #item-nav .item-list-tabs ul #settings-personal-li {
      display: none; } }
/* Media Screen Size
======================================*/
/* 1 Header Contents(Small)
======================================*/
@media only screen and (max-width: 640px) {
  #footer {
    margin: 0; }
    #footer #top-wrap {
      height: 700px;
      color: white;
      background-color: #e53282; }
      #footer #top-wrap #top-description-area {
        padding-top: 40px; }
        #footer #top-wrap #top-description-area #top-title {
          font-size: 40px;
          margin-left: -15px;
          text-align: center; }
        #footer #top-wrap #top-description-area #top-title:before {
          content: '';
          display: inline-block;
          background-image: url(../images/logo1.png);
          width: 85px;
          height: 85px;
          background-size: contain;
          position: relative;
          top: 29px; }
        #footer #top-wrap #top-description-area #top-subtitle {
          padding-top: 85px;
          text-align: center;
          font-size: 26px; }
        #footer #top-wrap #top-description-area #top-description {
          display: inline-block;
          text-align: center;
          width: 100%;
          font-size: 15px; }
      #footer #top-wrap #top-button-area {
        padding-top: 70px; }
        #footer #top-wrap #top-button-area .register-button {
          font-size: 16px;
          text-align: center; }
          #footer #top-wrap #top-button-area .register-button a {
            display: inline-block;
            height: 40px;
            width: 75%;
            border-radius: 25px;
            color: white;
            background-color: #1db90e;
            text-decoration: none;
            line-height: 40px;
            font-weight: bold; }
        #footer #top-wrap #top-button-area .login-description {
          font-size: 12px;
          text-align: center;
          margin-bottom: 3px; }
        #footer #top-wrap #top-button-area .login-button {
          font-size: 16px;
          text-align: center; }
          #footer #top-wrap #top-button-area .login-button a {
            display: inline-block;
            height: 40px;
            width: 75%;
            border-radius: 25px;
            color: #444;
            background-color: white;
            text-decoration: none;
            line-height: 40px;
            font-weight: bold; }
      #footer #top-wrap #top-login-form {
        padding: 5px 25px 0 25px; }
        #footer #top-wrap #top-login-form #sidebar-wp-submit {
          display: block;
          margin: 0 auto;
          width: 150px; } }
/* Media Screen Size
======================================*/
/* 1 Header Contents(Small)
======================================*/
@media only screen and (max-width: 640px) {
  #create-group-form {
    padding: 20px 20px 10px 20px; }
    #create-group-form .create-title {
      text-align: center;
      font-weight: normal;
      font-size: 22px;
      border-bottom: solid 1px #444; }
    #create-group-form #group-create-body #group-desc {
      display: none; }
    #create-group-form #group-create-body #group-creation-create {
      display: block;
      margin: 0 auto;
      width: 150px; }
    #create-group-form #group-create-body #previous-next {
      margin: 0 auto; }
      #create-group-form #group-create-body #previous-next #group-creation-previous {
        margin: 0; }
      #create-group-form #group-create-body #previous-next #group-creation-finish {
        width: 200px; }

  .create-title {
    padding-bottom: 5px; } }
/* Media Screen Size
======================================*/
/* 1 Header Contents(Small)
======================================*/
@media only screen and (max-width: 640px) {
  #register-page {
    padding: 10px 30px 5px 30px;
    margin-top: 28px;
    background-color: #e53282;
    color: white; }
    #register-page #signup_form #register-confirm-title {
      font-weight: normal;
      font-size: 22px;
      border-bottom: 1px solid #662112;
      text-align: center;
      padding-bottom: 5px; }
    #register-page #signup_form #register-confirm-description {
      padding-bottom: 0;
      margin-bottom: 0; }
    #register-page #signup_form #sub-logo img {
      display: block;
      margin: 0 auto;
      width: 100px; }
    #register-page #signup_form #basic-details-section {
      margin-bottom: 30px; }
      #register-page #signup_form #basic-details-section .register-subtitle {
        text-align: center;
        font-weight: normal;
        border-bottom: 1px solid #662112;
        font-size: 18px;
        padding-bottom: 2px; }
      #register-page #signup_form #basic-details-section input {
        margin: 10px 0; }
      #register-page #signup_form #basic-details-section .register-subtitle:before {
        content: ''; }
      #register-page #signup_form #basic-details-section #signup_password {
        width: 90%; }
      #register-page #signup_form #basic-details-section #signup_password_confirm {
        width: 90%;
        clear: both; }
    #register-page #signup_form #profile-details-section .register-subtitle {
      text-align: center;
      font-weight: normal;
      border-bottom: 1px solid #444;
      font-size: 18px;
      margin-bottom: 25px;
      padding-bottom: 2px; }
    #register-page #signup_form #profile-details-section .editfield #field_1 {
      height: 22px; }
    #register-page #signup_form #profile-details-section .editfield .field-visibility-settings-notoggle {
      display: none; }
    #register-page #signup_form #profile-details-section .editfield .option-label {
      color: white; }
    #register-page #signup_form #profile-details-section .editfield .description {
      color: white; }
    #register-page #signup_form .submit {
      float: none;
      padding-bottom: 20px; }
      #register-page #signup_form .submit #signup_submit {
        display: block;
        margin: 0 auto;
        width: 250px; }

  #activate-page {
    background-color: #e53282;
    padding-bottom: 340px;
    color: white; }
    #activate-page #activate-title {
      margin-top: 58px;
      text-align: center;
      border-bottom: 1px solid #444; }
    #activate-page #activate-description {
      padding: 0 30px; }
    #activate-page #activate-login {
      display: block;
      margin: 0 auto;
      height: 40px;
      width: 75%;
      border-radius: 25px;
      color: white;
      background-color: #1db90e;
      text-decoration: none;
      line-height: 40px;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 5px; }
    #activate-page #sub-logo img {
      display: block;
      margin: 0 auto;
      width: 100px; }

  #register-complete {
    padding-bottom: 330px; }

  #member-table-img {
    width: 40px;
    height: 40px; } }
/* Media Screen Size
======================================*/
/* 1 Header Contents(Small)
======================================*/
/* Media Screen Size
======================================*/
/* 1 Header Contents(Small)
======================================*/
@media only screen and (max-width: 640px) {
  #item-body #request-form-title {
    text-align: center;
    padding: 10px 0; }
  #item-body #request-membership-form {
    text-align: center; }
    #item-body #request-membership-form #group-request-send {
      margin: 10px 0 80px 0;
      width: 50%; }

  #request-list li {
    padding-left: 15%;
    padding-bottom: 30px; } }

/*# sourceMappingURL=style.css.map */
