
/* Media Screen Size
======================================*/ 
$small:  "only screen and (max-width:640px)";
$middle: "only screen and (min-width:641px) and (max-width:1159px)";
$large:  "only screen and (min-width:1160px)";


/* 1 Header Contents(Small)
======================================*/

